/*xs - less than 576px*/
/*sm - 576 and up */
/*md - 768px and up */
/*lg - 992px and up */
/*xl - 1200px and up */

/*---Media Queries --*/

/*xs screen width*/
@media (max-width:576px)  {
  
}

@media (max-width:768px) and (min-width: 576px) {

}

@media (max-width:992px) and (min-width: 768px) {

}

@media (max-width:1200px) {

}

body{
  margin: 0;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
.carousel-inner img{
  height: 50%;
  width: 100%;
}

#dropdown ul li{
  padding-left: 1rem;
}


.phone{
    left: 50%;
}

#btn_book{
  color: #6f42c1;
  font-weight: 900;
}

.autocomplete-items{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
*{
  box-sizing: border-box;
}
.autocomplete{
  position: relative;
  display: inline-block;
  width: 90%;
}
.autocomplete-items div{
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #fff;

}

.autocomplete-items div:hover {
  background-color: #7abaff;
}

.autocomplete-active{
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#container{
  width: 100%;
}
.infoma{
  padding-left: 20%;
  color: #ffffff;
  padding-top: 50px;
  border-right:2px solid crimson;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 30px;

}

.infoma h4{
  font-weight: 700;
  padding-bottom: 20px;
  width: 100%;

}

.infoma p{
  font-weight: 600;
  padding-left: 20px;
}

.infoma p span{
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.float-left{
  float: left;
}

/*Information form*/

.info-form tr td{
  font-weight: 300;
  color: #fff;
  padding-left: 50px;
}

.info-form tr td input{
  width: 100%;
  height: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 2px;
}

.info-form tr td button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-weight: 900;
  border: 1px solid black;
  outline: none;
}

#info-input {
  padding-bottom: 18px;
  padding-top: 5px;
}

#top{
  padding-top: 30px;
}

#bottom{
  padding-bottom: 30px;
}

.surround{
  background: lightgray;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

/*TODO: Media Queries no responding on resizing*/
/*TODO: Center all content inside a div*/