<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo-round.ico' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script type="text/javascript" src="{% static 'jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
        <title>Matatu booking| Denniz inc.</title>
    </head>
    <body>

{#        top navigation bar#}
        <nav class="nav navbar-light sticky-top bg-light navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="{% static 'logo.png' %}"></a>
                <button style="float: right; margin: 1rem;" type="button" data-toggle="collapse" data-target="#dropdown" class="navbar-toggler navbar-inverse">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div style="margin-right: 22rem; margin-top: 0px" class="collapse navbar-collapse" id="dropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
                        </li>
                        <li class="nav-item " >
                            <a class="nav-link" href="{% url 'contact_us' %}">Contact_us</a>
                        </li>
                        <li class="nav-item " >
                            <a class="nav-link" href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

{#        corousel slider aspect ratio 6:1, 900x150, 2400,400#}
        <div class="carousel slide" id="slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slide" data-slide-to="0" class="active"></li>
                <li data-target="#slide" data-slide-to="1" ></li>
                
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active po">
                    <img src="{% static  'temp1.jpg'%}" alt="temp1">
                </div>

                <div class="carousel-item ">
                    <img src="{% static  'temp2.jpg'%}" alt="temp2">
                </div>
            </div>

        </div>
    </body>
</html>