{% extends 'skeleton.html' %}

{% block body %}
    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h3 class="card-title mt-3 text-center pb-2">Create Account</h3>
                <br>
                <form method="post" id="the-form">
                    {% csrf_token %}
                    <div class="form-group input-group" style="width: 320px">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input class="form-control" type="text" name="username" required placeholder="Username" value="{{ username }}">
                    </div>
                     <div class="form-group input-group">
                        <input class="form-control" type="text" name="first_name" required placeholder="First Name" value="{{ f_name }}">
                    </div>
                     <div class="form-group input-group">
                        <input class="form-control" type="text" name="last_name" required placeholder="Last Name" value="{{ l_name }}">
                    </div>

                     <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control" type="email" name="email" required placeholder="Email Address" value="{{ email }}">
                     </div>
                     <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input class="form-control" type="password" id="p1" name="password" required placeholder="Password">
                    </div>

                    <div class="form-group input-group">
                        <input class="form-control" type="password" id="p2" required placeholder="Confirm Password">
                    </div>
                    <div class="alert alert-danger" id="message">
                        <strong>Warning! </strong>
                        Password(s) do not match
                    </div>
                    {% if errors %}
                        <div class="alert alert-danger">
                            {% for error in errors %}
                                <strong>Warning! </strong>
                                The {{ error.title }} already exists <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" id="btn_submit" type="button">Create Account</button>
                    </div>
                <div class="form-group input-group text-center text-sm-center">
                        <div>
                        Log In?  <a class="card-link" href="/login">Log In</a>
                        </div>
                    </div>

                </form>
            </article>
        </div>
    </div>
    <script>

        (function () {
            let btn = document.getElementById('btn_submit');

            btn.addEventListener('click', function (event) {
            let p1 = document.getElementById('p1').value;
            let p2 = document.getElementById('p2').value;
                if (p1 === p2){
                   document.getElementById('the-form').submit()
                }else{
                    let notify = document.getElementById('message');
                    notify.style.visibility = 'visible';
                    notify.style.position = 'relative';
                    document.getElementById('p1').value = '';
                    document.getElementById('p2').value = '';
                }
            });
        })();
    </script>
{% endblock %}